//COLORS
$dark-gray1 = #484848;
$dark-gray2 = #393939;
$gray1 = #b2b2b2;
$gray2 = #9b9b9b;
$gray3 = #777777;
$orange = #ef6d00;

//FONTS
$main-font = 'Titillium Web', sans-serif;

//PADDINGS
$grid-padding = 0 115px;

//GLOBAL 
* {
	box-sizing: border-box;
	font-family: $main-font;	
}
a {
	text-decoration: none;
}
h1 {
	margin: 0;
}
nav {
	li {
		display: inline-block;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}	
}
transition() {
	transition: all 0.2s ease-in-out;
}