<!DOCTYPE html>
<html lang="en">
<head>	
	<title>Super Blog</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta charset="UTF-8">
	<meta name="theme-color" content="#484848">
	<meta name="msapplication-navbutton-color" content="#484848">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" />
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300i,400,600,600i,700,700i" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<header class="header">
		<div class="header-links">
			<h1 class="header-h1">
				<a href="#"><span>Super</span> Blog</a>
			</h1>
			<nav class="header-nav">
				<ul>
					<li>
						<a href="#">Tech</a>
					</li>
					<li>
						<a href="#">Cook</a>
					</li>
					<li>
						<a href="#">Fashion</a>
					</li>
					<li>
						<a href="#">Travel</a>
					</li>
				</ul>
			</nav>			
		</div>
		<div class="header-email">
			<input type="text" placeholder="Tell us your email" class="header-email__input">
			<button class="header-email__button">Subscribe</button>
		</div>			
	</header>
	<main role="main" class="main">
		<section class="main-banner">
			<div class="main-banner__text">
				<span class="main-banner__tag">
					Tech
				</span>	
				<p class="main-banner__title">
					A Travel Photographer Reveals the Best Hidden Spots in Popular U.S. National Parks
				</p>		
				<a href="#" class="main-banner__link">Read <span>Post</span></a>				
			</div>			
		</section>	
		<section>
			<nav class="main-nav">
				<ul>
					<li>
						<a href="#"><span>All Categories</span></a>
					</li>
					<li>
						<a href="#">Tech</a>
					</li>
					<li>
						<a href="#">Cook</a>
					</li>
					<li>
						<a href="#">Fashion</a>
					</li>
					<li>
						<a href="#">Travel</a>
					</li>
				</ul>
			</nav>			
		</section>
		<section class="main-posts">
			<div class="main-posts__post  main-posts__post-1">
				<div class="main-posts__post-text">
					<span class="main-posts__post-tag">
						Tech
					</span>	
					<p class="main-posts__post-title">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
					<p class="main-posts__post-subtitle">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
				</div>
				<a href="#" class="main-posts__post-link">Read <span>Post</span></a>
			</div>
			<div class="main-posts__post main-posts__post-2">
				<div class="main-posts__post-text">
					<span class="main-posts__post-tag">
						Tech
					</span>	
					<p class="main-posts__post-title">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
					<p class="main-posts__post-subtitle">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
				</div>
				<a href="#" class="main-posts__post-link">Read <span>Post</span></a>
			</div>
			<div class="main-posts__post main-posts__post-3">
				<div class="main-posts__post-text">
					<span class="main-posts__post-tag">
						Tech
					</span>	
					<p class="main-posts__post-title">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
					<p class="main-posts__post-subtitle">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
				</div>
				<a href="#" class="main-posts__post-link">Read <span>Post</span></a>
			</div>
			<div class="main-posts__post main-posts__post-4">
				<div class="main-posts__post-text">
					<span class="main-posts__post-tag">
						Tech
					</span>	
					<p class="main-posts__post-title">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
					<p class="main-posts__post-subtitle">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
				</div>
				<a href="#" class="main-posts__post-link">Read <span>Post</span></a>
			</div>
			<div class="main-posts__post main-posts__post-5">
				<div class="main-posts__post-text">
					<span class="main-posts__post-tag">
						Tech
					</span>	
					<p class="main-posts__post-title">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
					<p class="main-posts__post-subtitle">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
				</div>
				<a href="#" class="main-posts__post-link">Read <span>Post</span></a>
			</div>
			<div class="main-posts__post main-posts__post-6">
				<div class="main-posts__post-text">
					<span class="main-posts__post-tag">
						Tech
					</span>	
					<p class="main-posts__post-title">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
					<p class="main-posts__post-subtitle">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
				</div>
				<a href="#" class="main-posts__post-link">Read <span>Post</span></a>
			</div>
			<div class="main-posts__post main-posts__post-7">
				<div class="main-posts__post-text">
					<span class="main-posts__post-tag">
						Tech
					</span>	
					<p class="main-posts__post-title">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
					<p class="main-posts__post-subtitle">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
				</div>
				<a href="#" class="main-posts__post-link">Read <span>Post</span></a>
			</div>
			<div class="main-posts__post main-posts__post-8">
				<div class="main-posts__post-text">
					<span class="main-posts__post-tag">
						Tech
					</span>	
					<p class="main-posts__post-title">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
					<p class="main-posts__post-subtitle">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
				</div>
				<a href="#" class="main-posts__post-link">Read <span>Post</span></a>
			</div>
			<div class="main-posts__post main-posts__post-9">
				<div class="main-posts__post-text">
					<span class="main-posts__post-tag">
						Tech
					</span>	
					<p class="main-posts__post-title">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
					<p class="main-posts__post-subtitle">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
				</div>
				<a href="#" class="main-posts__post-link">Read <span>Post</span></a>
			</div>
			<div class="main-posts__post main-posts__post-10">
				<div class="main-posts__post-text">
					<span class="main-posts__post-tag">
						Tech
					</span>	
					<p class="main-posts__post-title">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
					<p class="main-posts__post-subtitle">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
				</div>
				<a href="#" class="main-posts__post-link">Read <span>Post</span></a>
			</div>
			<div class="main-posts__post main-posts__post-11">
				<div class="main-posts__post-text">
					<span class="main-posts__post-tag">
						Tech
					</span>	
					<p class="main-posts__post-title">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
					<p class="main-posts__post-subtitle">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
				</div>
				<a href="#" class="main-posts__post-link">Read <span>Post</span></a>
			</div>
			<div class="main-posts__post main-posts__post-12">
				<div class="main-posts__post-text">
					<span class="main-posts__post-tag">
						Tech
					</span>	
					<p class="main-posts__post-title">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
					<p class="main-posts__post-subtitle">
						How Sleep Restriction Therapy Can Help You Deal with Insomnia
					</p>	
				</div>
				<a href="#" class="main-posts__post-link">Read <span>Post</span></a>
			</div>
		</section>
	</main>	
</body>
</html>